{% extends "main/base.html" %}

{%block title%}Home{%endblock%}
{%block external%}
<style>
.podyum{
    position: relative;
    width: 100%;
    height: 550px;
    top: 10px;

}
.podyumresim{
    position: absolute;
    right: 0px;
    height: 100%;
    margin-top: 5px;
}
.podyumposter{
    position: absolute;
    width: 270px;
    height: 380px;
    top: 85px;
    left: 140px;
    z-index: 1;
    box-shadow: 0 0 50px 1px black;
    transition: transform .5s ease;
}
.podyumposter:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 50px 2px black;
}
.statu{
    position: relative;
    width: 550px;
    height: 550px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 60%, rgba(0,19,43,1) 70%, rgba(0,0,0,1) 100%); 
    z-index: -1;
    border-radius: 50%;
    border:none white;
    box-shadow:
    0 0 30px 10px rgba(0,19,43,1), /* middle magenta */
    0 0 60px 15px rgba(0,0,0,1); /* outer cyan */
}
.infopodyum{
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    left: -30px;
    height: 70%;
    top: 15%;
    width: 70%;
    background: rgb(0,10,20);
    background: linear-gradient(90deg, rgba(0,10,20,1) 5%, rgba(0,19,43,1) 25%, rgba(63,77,95,1) 40%, rgba(134,143,154,1) 55%, rgba(204,208,213,1) 70%, rgba(255,255,255,1) 80%); 
    box-shadow: -10px 0px 20px 1px rgb(0, 10,20); 
    z-index: -2;
}
.summarytext{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
    max-width: 350px;
    max-height: 150px;
    z-index: 5;
        
}
.podyumbaslik{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px black;
    z-index: 5;
}
.oncul{
    text-decoration: none;
    color: white;
    font-size: 16px;
    z-index: 5;
    
}
.içerik{
    z-index: 5;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
    max-width: 300px;
}

</style>

{%endblock%}

{%block content%}
<div class="podyum">
    <div class="podyumresim">
        {% if podyumcontent.getcontenttype == "Movie"%}
            <a  href="/movies/{{podyumcontent.url_name}}">
                <img class="podyumposter" src="{{podyumcontent.poster.url}}" alt="">
            </a>
        {% elif podyumcontent.getcontenttype == "Series"%}
            <a  href="/series/{{podyumcontent.url_name}}">
                <img class="podyumposter" src="{{podyumcontent.poster.url}}" alt="">
            </a>
        {%endif%}
        <div class="statu"></div>
    </div>
    <div class="infopodyum">
        <div class="container">
            <h4 class="card-title"><a class="podyumbaslik" href="/series/{{series.url_name}}" ><b>{{podyumcontent.name}}</b></a></h4><!-- Lİnk sıknıtlı-->
            <p class="oncul summarytext">{{podyumcontent.summary}}</p>
            <p class="oncul"><b>Director: </b><small class="içerik">{{podyumcontent.director}}</small></p>
            <p class="oncul"><b>Stars: </b><small class="içerik">{%for actor in podyumcontent.star.all%} {{actor}}, {%endfor%} </small></p>
            <p class="oncul"><b>Release: </b><small class="içerik">{{podyumcontent.release}}</small></p>
            <p class="oncul"><b>Categories: </b><small class="içerik"href="/movies/{{podyumcontent.url_name}}">{%for category in podyumcontent.categorie.all%} {{category}}, {%endfor%} </small></p>

        </div>
    </div>

</div>




{%endblock%}